body {
  display: Flex;
  align-items: center;
  justify-content: center;
  HEIGHT: 100VH;
  flex-direction: row;
}
#video,
#canvas-image {
  border: 2px solid black;
  height: 400px;
  width: 400px;
}
.timer {
display: none;
}

.timerPhoto {
  background: black;
  height: 50px;
  width: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}